<% if (pagination === 2) { %>
    <% page.posts.each(post => { %>
        <%- partial('article', {post: post, index: true}) %>
    <% }) %>
<% } else { %>
    <% let last; %>
    <% page.posts.each((post, i) => { %>
        <% let year = post.date.year(); %>
        <% if (last !== year) { %>
            <% if (last !== null) { %>
                </div></section>
            <% } %>
            <% last = year; %>
            <section class="archives-wrap">
                <div class="archive-year-wrap">
                    <a href="<%- url_for(config.archive_dir + '/' + year) %>" class="archive-year"><%= year %></a>
                </div>
                <div class="archives">
        <% } %>
        <%- partial('archive-post', {post: post, even: i % 2 === 0}) %>
    <% }) %>
    <% if (page.posts.length) { %>
        </div></section>
    <% } %>
<% } %>

<% if (page.total > 1) { %>
    <div id="page-nav" class="hidden-xs">
        <%- bs_paginator({
            prev_text: '<span aria-hidden="true">&laquo;</span> Prev',
            next_text: 'Next <span aria-hidden="true">&raquo;</span>'
        }) %>
    </div>

    <div id="page-nav-mobile" class="visible-xs">
        <%- bs_paginator({
            prev_text: '<span aria-hidden="true">&laquo;</span>',
            next_text: '<span aria-hidden="true">&raquo;</span>',
            mid_size: 0
        }) %>
    </div>
<% } %>
